// Mixin
@import "./Mixin.scss";

@import '~antd/dist/antd.css';

@import './assets/scss/MainView.scss';

@import './assets/scss/Footer.scss';

.title {
    .theFlowerRoom {
        color: $bookito;
        font-size: 28px;
        font-weight: 800;
        padding-left: 20px;
    }
    .subTitle {
        
        font-weight: 400;
        text-align: right;
        vertical-align: bottom;
        padding-right: 20px;
        .content {
            margin: 0;
            padding-top: 12px;
            vertical-align: bottom;
            font-size: 16px;
        }
    }
}