// Mixin
@import "./Mixin.scss";

@import '~antd/dist/antd.css';

@import './assets/scss/MainView.scss';

@import './assets/scss/Footer.scss';

.title {
    font-size: 28px;
    font-weight: 800;
    color: $bookito;
}